.errorimg{
    width:25%; height:40%;float:right;margin-right: 5%;display:inline-block;
}
.errorcaja{
	width:30%;
	float:right;
	display:inline-block;
}

.error404{
	margin:2% auto;
	width:50%;
	display:inline-block;
	
}